In [ ]:
import pandas as pd

In [ ]:
food = pd.read_csv('../data/chipotle.tsv', sep='\t')
food

In [ ]:
food.dtypes

In [ ]:
food.shape

In [ ]:
food.info()

In [ ]:
food.head(10)

In [ ]:
food.tail(10)

In [ ]:
food.columns

In [ ]:
food.index

In [ ]:
#데이터 전체 기본 통계로 요약
food.describe() #모든 숫자타입을 가지는 피쳐에 대해 기본 통계를 보임.

In [ ]:
#시리즈의 멤버함수 astype(변경하고 싶은 타입명)
food['order_id'] = food['order_id'].astype(str) 
food['order_id'].head()

In [ ]:
#데이터 전체 기본 통계로 요약
food.describe()

In [ ]:
# 메뉴가 무엇이 있었나?
food['item_name'].unique()
len(food['item_name'].unique())

In [ ]:
# 주문은 몇 개나 있었던 것일까?
len(food['order_id'].unique())

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

from matplotlib import font_manager, rc
plt.rcParams['axes.unicode_minus'] = False

#f_path = "/Users/administrator/Library/Fonts/AppleGothic.ttf"
f_path = "C:/Windows/Fonts/malgun.ttf"
font_name = font_manager.FontProperties(fname=f_path).get_name()
rc('font', family=font_name)

In [ ]:
#그룹별로 묶어서 통계를 낼 수는 있으나, 정렬은 해주지 않음.
food_name_gp = food.groupby('item_name')['quantity'].sum() 
food_name_gp

In [ ]:
type(food_name_gp)

In [ ]:
# 가장 많이 주문한 메뉴명 10개?
item_count = food['item_name'].value_counts() #항목별 개수 + 내림차순
item_count.head(10)

In [ ]:
item_count = item_count[:10]
item_count

In [ ]:
type(item_count)  #인덱스객체 + ndarray객체

In [ ]:
item_count.index

In [ ]:
item_count.values

In [ ]:
# 많이 팔린 item 10개를 막대 그래프로 그려보자.
plt.figure(figsize=(18, 8))
plt.bar(item_count.index, item_count.values) #plt.bar(x축값, y축값)

In [ ]:
# 순위별로 프린트해보세요.
# TOP 1: Chicken Bowl 726
# item_count
item_count

In [ ]:
for i in range(len(item_count)):
    print('TOP ', i + 1, ':', item_count.index[i], '\t', item_count.values[i])

In [ ]:
#lambda로 해결!(찬양씨!)
list(map(lambda x : print("TOP", x+1 ," : ", item_count.index[x], item_count[x]), range(10)))

In [ ]:
# enumerate 반복문: index, 반복할 item을 둘 다 꺼내주고 싶을 때 사용
data100 = [100, 200, 300]

for i, item in enumerate(data100, 0): #0은 index의 start값
    print(i, ':', item)

In [ ]:
# # 시리즈의 values만 꺼내오고 싶으면, 시리즈를 enumerate에 입력값으로 넣어주면 됨.
# 시리즈를 tolist()하면 시리즈의 values만 리스트로 만들어진다.
item_count.tolist()

In [ ]:
for i, item in enumerate(item_count.tolist(), 0): #0: index의 start값
    print('TOP ', i + 1, ':', item) #values만 꺼내온다.

In [ ]:
# enumerate: 열거하다
# Jquery의 $('list').each(): index랑 list의 항목을 하나씩 꺼내는 기능
# item에는 시리즈의 index와 values를 tuple로 반복해서 꺼내온다.
for i, item in enumerate(item_count.iteritems(), 0): #0: index의 start값
    print('TOP ', i + 1, ':', item)

In [ ]:
for i, item in enumerate(item_count.iteritems(), 0): #0: index의 start값
    print('TOP ', i + 1, ':', item[0], item[1])

In [ ]:
#  주요 많이 팔린 TOP10까지의 메뉴별 주문 개수

In [ ]:
for i, (index0, index1) in enumerate(item_count.iteritems(), 0): #0: index의 start값
    print('TOP ', i + 1, ':', index0, index1)

In [ ]:
# 제일 많이 팔린 메뉴명
item_count.index[0]

In [ ]:
# 제일 많이 팔린 개수
item_count.values[0]

In [ ]:
# item당 주문개수, 주문총량을 구해보세요.
order_count2 = food.groupby('item_name')['order_id'].count()
                #item_name의 값으로 그룹을 지어서, order_id만 count해보세요.
order_count2

In [ ]:
order_count3 = food.groupby('item_name')['quantity'].sum()
                #item_name의 값으로 그룹을 지어서, 그룹별 quantity를 더해라.
order_count3[:10]

In [ ]:
food['quantity'].sum()

In [ ]:
# 50개를 그려봅시다.!

# X축: 50개의 메뉴명 => 숫자를 부여하자.
x2 = np.arange(50) #[0, 1, 2, ...]

# Y축: 메뉴별 판매량
y2 = order_count3.values

plt.figure(figsize=(18, 8))
plt.barh(x2, y2, color='springgreen')
plt.title('모든 주문한 메뉴의 판매량')
plt.xlabel('주문한 메뉴의 번호')
plt.ylabel('주문한 메뉴의 판매량')

In [ ]:
# 50개를 그려봅시다.!

# X축: 50개의 메뉴명 => 숫자를 부여하자.
x2 = np.arange(50) #[0, 1, 2, ...]

# Y축: 메뉴별 판매량
y2 = order_count3.values

plt.figure(figsize=(18, 8))
plt.bar(x2, y2, color='gold', edgecolor="gray", linewidth=3)
plt.title('모든 주문한 메뉴의 판매량')
plt.xlabel('주문한 메뉴의 번호')
plt.ylabel('주문한 메뉴의 판매량')

In [ ]:
order_count3.index[17]

In [ ]:
order_count3.index[26]

In [ ]:
food

In [ ]:
food['item_price'].dtype #시리즈에 들어있는 인스턴스의 타입

In [ ]:
food['quantity'].dtype

In [ ]:
type(food['item_price']) #열에 대한 타입

In [ ]:
food.dtypes

In [ ]:
food['item_price'][:5]

In [ ]:
#타입변경 방법, 시리즈명.astype(), float()함수 이용

In [ ]:
food['item_price'][4]

In [ ]:
type(food['item_price'][4])

In [ ]:
food['item_price'][4][1:]

In [ ]:
float(food['item_price'][4][1:])

In [ ]:
#시리즈의 모든 행에 있는 string을 추출해서 $을 빼야한다.(인덱싱을 사용하기로 함.)
#시리즈를 모두 변경하기 위해서는 for문 있어야함.
#float()함수는 비파괴 =>>> float() 캐스팅한 결과를 리스트에 모아놓았다가,
#반복문이 모든 끝나면 리스트에 모아놓은 데이터를 df의 컬럼에 다시 집어넣는다.

In [ ]:
for index in range(len(food['item_price'])):
        food['item_price'][index] = float(food['item_price'][index][1:])

In [ ]:
food['item_price']

In [205]:
result = []
for price in food['item_price']:
        result.append(float(price[1:]))
result[:10]

[2.39, 3.39, 3.39, 2.39, 16.98, 10.98, 1.69, 11.75, 9.25, 9.25]

In [206]:
food['item_price'] = result

In [207]:
food['item_price'][:10]

0     2.39
1     3.39
2     3.39
3     2.39
4    16.98
5    10.98
6     1.69
7    11.75
8     9.25
9     9.25
Name: item_price, dtype: float64

In [208]:
food['item_price'][:10].dtype

dtype('float64')

In [209]:
food.describe() #피쳐들 중에서 숫자타입을 가지는 시리즈의 기본 통계

          quantity   item_price
count  4622.000000  4622.000000
mean      1.075725     7.464336
std       0.410186     4.245557
min       1.000000     1.090000
25%       1.000000     3.390000
50%       1.000000     8.750000
75%       1.000000     9.250000
max      15.000000    44.250000

------------------------------------------------------------------
### <Step4. 탐색적 분석> : 스무고개로 분석하는 개념적 탐색
* 데이터를 이해하기 위한 조금 더 복잡한 질문들로 탐색적 데이터 분석 연습하기
* 주문당 평균 계산금액 출력하기
* 한 주문에 10달러 이상 사용한 주문의 id들 출력하기
* 각 아이템의 가격 구하기
* 가장 비싼 주문에서 item이 몇개 팔렸는지 구하기
* "Veggie Salad Bowl"이 몇 번 주문되었는지 구하기
* "Chicken Bowl"을 2개 이상 주문한 주문 횟수 구하기
------------------------------------------------------------------